<article class="media content-section">
  {% include './post_user_image.html' %}
  <div class="media-body">
    <div class="article-metadata">
      <div>{% include './post_header.html' %}</div>
      {% if display_post_control_buttons %}
      <div>{% include './post_control_buttons.html' %}</div>
      {% endif %}
    </div>
    <h2>
      <a class="article-title" href="{% url 'post-detail' post.id %}"
        >"{{ post.bookTitle }}" by {{post.bookAuthor}}</a
      >
    </h2>
    <div>{% include './post_score.html' %}</div>
    {% if display_book_cover %}
    <div>{% include './post_book_cover.html' %}</div>
    {% endif %}
  </div>
</article>
